@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #000;
  overflow: hidden;
  color: #fff;
}


.shape {
  position: fixed;
  top: -100px;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.3);
  animation: fall linear infinite;
  transform: rotate(45deg);
  border-radius: 4px;
}

@keyframes fall {
  to {
    transform: translateY(120vh) rotate(360deg);
  }
}

.center {
  text-align: center;
  margin-top: 220px; 
  position: relative;
  z-index: 10;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

.search-box {
  margin-top: 50px;
}

.search-box input {
  width: 420px;
  padding: 16px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.6); 
  font-size: 1.1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
  outline: none;
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.08);
}

.search-box input:focus {
  border-color: rgba(0, 0, 0, 0.9);
}

.icons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icons img {
  width: 65px;
  height: 65px;
  border-radius: 15px;
  transition: 0.25s;
  cursor: pointer;
}

.icons img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.bottom-bar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.07);
  padding: 12px 25px;
  border-radius: 20px;
  display: flex;
  gap: 25px;
  backdrop-filter: blur(10px);
}

.bottom-bar img {
  width: 35px;
  height: 35px;
  filter: invert(1);
  opacity: 0.9;
  cursor: pointer;
  transition: 0.25s;
}

.bottom-bar img:hover {
  transform: scale(1.15);
  opacity: 1;
}
